<h2>Add article</h2>

<form action="/article/add" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" required/>
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea name="content" rows="10" required></textarea>
    </div>
    <input type="submit" value="Add" />
</form>