<form action="/users/register" method="POST">
  Email
  <input type="text" name="email" />
  <br />
  Full Name
  <input type="text" name="fullName" />
  <br />
  Password
  <input type="password" name="password" />
  <br />
  Confirm Password
  <input type="text" name="repeatedPassword" />
  <br />
  <input type="submit" value="Register" />
</form>